<div class="container">
<h1 class="index-header mt-20">Edit your booking:</h1>

<div class="form-card">
<%= simple_form_for([@dog, @booking]) do |f| %>
 <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

  <%= f.submit "Update Booking", class: "btn btn-book" %>
<% end %>
</div>

<%= link_to "Back to Bookings", bookings_path, class: "btn btn-edit" %>
</div>
