<div class="container">
<h1>When would you like to book <strong><%= @dog.name %>?</strong></h1>

<%= simple_form_for([@dog, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, label: "Start Date" %>
  <%= f.input :end_date, as: :date, label: "End Date" %>

  <%= f.submit "Book Dog", class: "btn btn-primary" %>
<% end %>
</div>
