<div class="container">
<h1 class="index-header">When would you like to book <strong><%= @dog.name %>?</strong></h1>

<div class="form-card" style="text-align: left; width: 50%;">
<%= simple_form_for([@dog, @booking]) do |f| %>
  <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

  <%= f.submit "Book Dog", class: "btn btn-cancel" %>
<% end %>
</div>

 <%= link_to "Back", dog_path(@dog), class: "btn btn-edit" %>
</div>
