<h1>Reviews for <%= @dog.name %></h1>

<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <strong>Rating:</strong> <%= review.rating %>/5<br>
        <strong>Comment:</strong> <%= review.comment %><br>
        <small>Reviewed on: <%= review.created_at.strftime("%B %d, %Y") %></small>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>No reviews yet for this dog. Be the first to review!</p>
<% end %>

<%= link_to "Back to Dog Profile", dog_path(@dog), class: "btn btn-primary" %>
